
body > header {
    font-size: 5rem;
}

body > header > h1 {
    text-shadow: 0 0 .2rem white, 0 0 .4rem white, 0 0 .6rem white, 0 0 .8rem white;
}

body > header > h1,
body > header > p {
    display: inline-block;
    padding: 0 2rem;
    vertical-align: middle;
    line-height: 3rem;
    background: rgba(255,255,255, .9);
}

body > section {
    display: inline-block;
    width: 46%;
    vertical-align: top;
}

body > section[name="left"] {
    margin-left: 4%;
}

body > section[name="left"]  > img {
    width: 100%;
}

body > section[name="right"] > header,
body > section[name="right"] > p {
    padding: 1rem 5rem;
}

body > section[name="right"] {
    background-color: rgba(255,255,255, .9);
    font-size: 2rem;
}

body > section[name="right"] > header > p {
    border-bottom: 0.1rem dotted black;
    line-height: 1.8rem;
}
body > section[name="right"] > header > p > a,
body > section[name="right"] > header > p > em {
    display: inline-block;
}

body > section[name="right"] > header > p > em {
    width: 20%;
}

