body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #222222;
	background-image: url('background.png');
}

article{
	color: #222222;
	background-color: #ffffff;
	position: fixed;
	top: 100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
	padding: 50px
}

/*Schriftarten einbinden*/
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff") format("woff");
}

@font-face {
  font-family: "Ebisu";
  src: url("webfonts/2758A4_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2758A4_0_0.woff") format("woff"), url("webfonts/2758A4_0_0.ttf") format("truetype");
}
/*Headlines*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Ebisu", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  margin-top: 0;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
